In [16]:
import pandas as pd

df = pd.DataFrame({
    "col1": [1, 2, 3, 4],
    "col2": [5, 6, 7, 8],
    "col3": [9, 10, 11, 12]
})
df

   col1  col2  col3
0     1     5     9
1     2     6    10
2     3     7    11
3     4     8    12

In [17]:
df["col4"] = "a b c d".split()
df

   col1  col2  col3 col4
0     1     5     9    a
1     2     6    10    b
2     3     7    11    c
3     4     8    12    d

In [18]:
df = df[[col for col in df.columns if col != "col3"] + ["col3"]] 
df

   col1  col2 col4  col3
0     1     5    a     9
1     2     6    b    10
2     3     7    c    11
3     4     8    d    12